<script>
    var bgColor = $('.label-danger').css('background-color') ;  
    (function worker() { 
        $.ajax({
            type: "GET",
            url: "/posts",
            dataType: "json",
            success: function(data)
            {   
                var tar = -1 ; 
                for( var i = 0 ; i < data.length; ++i )
                if( data[i].datastream_name == "current_dist" ){
                    tar = i ; 
                    break ; 
                }
                var s = "";


                for(var ind in data){
                    d = data[ind];
                    s += '<h1 class="titl"><label class="label label-danger">' + d.datastream_name + " : " + d.current_value + '</label></h1>' ; 
                }

                $('.result').html( s ) ; 
                $('.label-danger').css('background-color' , bgColor ) ; 

                if( data[0].current_value < 35 ){
                    $('.label-danger').animate({ backgroundColor: 'rgb(0 , 155, 255 )'} , 1000 , 
                    function(){
                        bgColor = $('.label-danger').css('background-color') ; 

                    }
                    ); 
                }

                else{
                    $('.label-danger').animate({ backgroundColor: 'rgb(255 , 255, 0 )'} , 1000 , 
                    function(){
                        bgColor = $('.label-danger').css('background-color') ; 

                    }
                    ); 
                }
                setTimeout(worker, 2000);   
            }
        });
    })();
</script>
<div class="full-width fw-borders" style="background: url(/img/pattern/fabric_of_squares_gray.png)">
  <div class="container">
      <div class="row margin-bot">
        <div class="col-md-8 col-sm-8 container">
            <div class="result"></div>
            <%= simple_form_for( @seat ) do |f| %>
                <h4 class="h-light">日期：</h4>
                <div id="datetimepicker1" class="input-group date">
                     <span class="add-on">
                        <i data-date-icon="glyphicon glyphicon-calendar"></i>
                    </span>
                    <%= f.input :date, data:{ format: 'yyyy-MM-dd' } , input_html:{ class: "requiredField name input-name" }, label: false  %>   
                </div>

                <h4 class="h-light">時間：</h4>
                <div id="datetimepicker2" class="input-group">
                    <span class="add-on">
                        <i data-time-icon="glyphicon glyphicon-time"></i>
                    </span>
                    <%= f.text_field :time, data:{ format: 'hh:mm' } , class: "requiredField name input-name" , label: false  %> 
                </div>

                <h4 class="h-light">要借多久：</h4>
                <%= f.input :period, collection: [1,2,3,4,5], input_form: { class: "requiredField name input-name"} , label: false  %>
                <hr>
                <%= f.submit "送出" , class: "btn" %> 
            <% end %>

            <script type="text/javascript">
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  maskInput: false,
                  pickTime: false
                });
                $('#datetimepicker2').datetimepicker({
                  maskInput: false,
                  pickDate: false,
                  pickSeconds: true
                }); 
                
              });
            </script>

          </div>
      </div>             
    </div> <!-- CONTAINER END -->
</div> <!-- CONTENT END --> 

