<div class="full-width fw-borders" style="background: url(/img/pattern/fabric_of_squares_gray.png)">
  <div class="container">
      <div class="row margin-bot">
        <div class="col-md-8 col-sm-8 container">
              <h1 class="h-light">Sign in</h1>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                
                <div class="field">
                  <%= f.label :email , class: "h-light"%><br />
                  <%= f.email_field :email, autofocus: true , class: "requiredField name input-name"%>
                </div>

                <div class="field">
                  <%= f.label :password , class: "h-light" %><br />
                  <%= f.password_field :password, autocomplete: "off" , class: "requiredField name input-name" %>
                </div>
                <hr>
                <div class="actions">
                  <%= f.submit "Log in" , class: "btn "%>
                </div>
              <% end %>
          </div>
      </div>             
    </div> <!-- CONTAINER END -->
</div> <!-- CONTENT END --> 

