<!-- CONTENT -->
<div id="content">
  <!-- CONTAINER -->
  <div class="container">
        
    <div class="row margin-bot">
        
          <div class="col-md-9 col-sm-9">
                <div class="title"><h5>常見問題</h5></div>
                <!-- ACCORDION -->
                <div class="panel-group" id="faq">
                  
                  <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                      <h5>
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#question1">
                              Q1:我要如何登入？（之類的XD
                              <div class="collapse-icon"></div>
                            </a>
                        </h5>
                    </div>
                    <div id="question1" class="panel-collapse collapse">
                      <div class="panel-body">
                        blablablablablablabla~~~~~~
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                      <h5>
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#question2">
                              Q2:預約位置的方法？
                              <div class="collapse-icon"></div>
                            </a>
                        </h5>
                    </div>
                    <div id="question2" class="panel-collapse collapse">
                      <div class="panel-body">
                        blablablablablablabla~~~~~~
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ACCORDION END -->
              
            </div>
            
            <div class="col-md-3 col-sm-3">
              
                <div class="text-box alert-info">
                  <p><span class="sub-header">Other problems? </span><br></br>如果你的問題不在下列問題中，也可以選擇使用下方的"聯絡我們"，我們會儘速回信。<br></br><br></br></p>                    
                </div>
            
            </div>
          
        </div>
    </div> <!-- CONTAINER END -->
        
     <div class="full-width fw-borders" style="background: url(/img/pattern/fabric_of_squares_gray.png)">
        <div class="container">
          <!-- ˊˇˋˊˇˋˊˇˋ -->
            <div class="row margin-bot">
            
              <div class="col-md-8 col-sm-8">
                  <div class="title"><h5>聯絡我們</h5></div>
                    <%= simple_form_for( @post )  do |f| %>
                      <div id="message-input">
                          <div class="input-group">
                            <%= f.input :name ,input_html:{ class: "requiredField name input-name"}, maxlength: 22 , required: true , label: false, tabindex: 1, placeholder: "Name ( required )" %>

                            <span class="input-group-addon">
                              <i class="icon-user"></i>
                            </span>
                          </div>
                          <div class="input-group">
                            <%= f.input :email , input_html:{ class: "requiredField name input-name", size: 22, tabindex: 1 }, required: true , label: false , placeholder: "Email (required)"%>

                            <span class="input-group-addon">
                              <i class="icon-envelope-alt"></i>
                            </span>
                          </div>
                      </div>
                      <div id="message-textarea">
                        <%= f.text_area :message, cols: 39, rows: 6, tabindex: 4, class: "requiredField", placeholder: "Message..... (required)" %>
                           
                      </div>
                      <div id="message-submit"><p></p>
                            <div>        
                                <%= f.submit "送訊息給我們喔～" , tabindex: 5, class: "btn-submit btn"%>
                            </div>
                        </div>
                    <% end %>
                  <!--
                    <form id="contact-form" class="form-horizontal" action="/posts" method="post" >
                  
                        <div id="message-input">


                          <div class="input-group">

                            <input type="text" name="name" id="name" value="" placeholder="Name (required)" size="22" tabindex="1" aria-required="true" class="requiredField name input-name">
                            <span class="input-group-addon">
                              <i class="icon-user"></i>
                            </span>

                          </div>
                          <div class="input-group">
                            <input type="text" name="email" id="email" value="" placeholder="Email (required)" size="22" tabindex="2" aria-required="true" class="requiredField email input-email"><span class="input-group-addon"><i class="icon-envelope-alt"></i></span>
                          </div>
                        </div>
                        <div id="message-textarea">
                            <textarea name="message" id="message" cols="39" rows="6" tabindex="4" class="requiredField" placeholder="Message... (required)"></textarea>
                        </div>
                        <div id="message-submit"><p></p>
                            <div>
                                <input name="Send" type="submit" id="Send" tabindex="5" value="Send message" class="btn-submit btn">
                            </div>
                        </div>


                    </form>

                            -->
                </div>
                
                <div class="col-md-4 col-sm-4">
                  <div class="title"><h5>住址</h5></div>
                    
                    <div class="text-box">
                      <p>臺灣 台北<br/>新竹市 東區 光復路二段101號國立清華大學<br/>nthu.edu.tw<br/>03-5715131</p>
                    </div>
                    
                    <br><div class="title"><h5>Get connected</h5></div>
                    <div class="social-icon">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-linkedin"></a>
                      <a href="#" class="foundicon-dribbble"></a>
                      <a href="#" class="foundicon-behance"></a>
                      <a href="#" class="foundicon-instagram"></a>
                    </div>

                    
                </div>
            </div>
                    
            </div> <!-- CONTAINER END -->
      </div> <!-- CONTENT END --> 
