<!--TOP BAR -->
    <div id="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <!-- TOP BAR NAVIGATION -->
                  <nav id="top-bar-nav" class="hidden-sm hidden-xs">
                      
                  </nav>
                  <!-- TOP BAR NAVIGATION END-->
                  
                  <!-- TOP BAR TEXT -->
                  <!--div class="top-bar-text hidden-sm hidden-xs">
                      <p>Call us (123) 456 789</p>
                  </div -->
                  <!-- TOP BAR TEXT END -->
                  
                  <!-- TOP BAR SOCIAL ICONS -->
                  <div class="top-bar-social pull-right social-icon hidden-xs">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-instagram"></a>
                      <a href="#" class="foundicon-github"></a>
                      <!-- <a href="#" class="foundicon-linkedin"></a>
                      <a href="#" class="foundicon-dribbble"></a>
                      <a href="#" class="foundicon-rss"></a>
                      <a href="#" class="foundicon-behance"></a>
                      <a href="#" class="foundicon-google-plus"></a>
                      <a href="#" class="foundicon-youtube"></a>
                      <a href="#" class="foundicon-vimeo"></a>
                      <a href="#" class="foundicon-flickr"></a>
                      <a href="#" class="foundicon-skype"></a>
                       -->
                      <!-- <a href="#" class="foundicon-tumblr"></a> -->
                  </div>
                  <!-- TOP BAR SOCIAL ICONS END -->
                  
              </div>
          </div>
      </div>
    </div> <!--TOP BAR End-->
    
    
	
    
    <header> <!-- HEADER-->
    	
    	<!-- HEADER CONTAINER -->
            <div class="header-top-wrap">
                <div class="container">
                
                        <!-- LOGO -->
                        <div class="logo">
                            <a href="/"><img src="/img/logo.png" alt="logo"></a>
                        </div> <!-- LOGO END -->
                        
                        
                        
                        <!-- MAIN NAVIGATION -->
                        <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>
  
                        <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul>
                                <% if request.env['PATH_INFO'] == root_path %>
                                  <li class="current_page_item">
                                    <%= link_to "Home" , root_path %>
                                  </li>
                                <% else %>
                                  <li>
                                    <%= link_to "Home" , root_path %>
                                  </li>
                                <% end %>

                                <% if request.env['PATH_INFO'] == posts_faq_path %>
                                  <li class="current_page_item">
                                    <%= link_to "FAQ / 聯絡我們" , posts_faq_path %>
                                  </li>
                                <% else %>
                                  <li>
                                    <%= link_to "FAQ / 聯絡我們" , posts_faq_path %>
                                  </li>
                                <% end %>
                                
                                <% if user_signed_in? %>
                                  <li><a href="portfolio-4col.html">預約</a>
                                    <ul>
                                      <li><a href="portfolio-4col.html">座位預約系統</a></li>
                                    </ul>
                                  </li>
                                <% end %>

                                <% if user_signed_in? %>
                                                
                                    <li><a>Hi ! <strong><%= current_user.name %></strong></a>
                                      <ul>
                                        <li><%= link_to '編輯', edit_user_registration_path, :class => 'navbar-link' %></li>
                                        <li><%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                                      </ul>
                                    </li>
                                 
                                <% else %>
                                   <li>
                                    <%= link_to "登入", new_user_session_path, :class => 'navbar-link'  %>
                                   </li>
                          
                                    <li>
                                      <%= link_to "註冊", new_user_registration_path, :class => 'navbar-link'  %>
                                    </li>
                                 <% end %>
                            </ul>
                        </nav> 
                        <!-- MAIN NAVIGATION END -->
                        
                    
                </div>
            </div>     
            <div class="header-bottom-wrap container">
            
                    <div class="header-text">
                        <h3 style="color: rgb( 255, 255, 255 )">讓我們一起享受Ｋ書的愉悅時光～</h3>
                    </div>
                    
                    <div class="header-bottom-elements">
                        <div class="element-wrap">
                        	<div><%= link_to "加入我們享受高級Ｋ書服務", new_user_registration_path, :class => 'navbar-link btn' %></div>
                        </div>
                    </div>
            	
            </div>
            
    	<div class="header-line"></div> 
        <!-- HEADER CONTAINER END -->
        
        
    </header> <!-- HEADER END -->   