<!--TOP BAR -->
<div id="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- TOP BAR NAVIGATION -->
                <nav id="top-bar-nav" class="hidden-sm hidden-xs">

                </nav>
                <!-- TOP BAR NAVIGATION END-->

                <!-- TOP BAR SOCIAL ICONS -->
                <div class="top-bar-social pull-right social-icon hidden-xs">
                    <a href="https://www.facebook.com/PusheenChuLaiWan" class="foundicon-facebook" target="_blank"></a>
                    <a href="https://github.com/PusheenChuLaiWan" class="foundicon-github" target="_blank"></a>
                </div>
                <!-- TOP BAR SOCIAL ICONS END -->
            </div>
        </div>
    </div>
</div> <!--TOP BAR End-->

<header> <!-- HEADER-->

<!-- HEADER CONTAINER -->
<div class="header-top-wrap">
    <div class="container">

        <!-- LOGO -->
        <div class="logo">
            <a href="/"><img src="/img/chair.png" alt="logo" class="ktb-logo"></a>
        </div> <!-- LOGO END -->

        <!-- MAIN NAVIGATION -->
        <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>

        <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul>
            <% if request.env['PATH_INFO'] == root_path %>
                <li class="current_page_item">
                <%= link_to "Home" , root_path %>
                </li>
            <% else %>
                <li>
                <%= link_to "Home" , root_path %>
                </li>
            <% end %>

            <% if request.env['PATH_INFO'] == posts_faq_path %>
                <li class="current_page_item">
                <%= link_to "FAQ / 聯絡我們" , posts_faq_path %>
                </li>
            <% else %>
                <li>
                <%= link_to "FAQ / 聯絡我們" , posts_faq_path %>
                </li>
            <% end %>

            <% if user_signed_in? %>
                <li><%= link_to "預約" , posts_analysis_path %>
                <ul>
                    <li><%= link_to "座位預約系統" , posts_pre_path %></li>
                </ul>
                </li>
            <% end %>

            <% if user_signed_in? %>

                <li><a>Hi ! <strong><%= current_user.name %></strong></a>
                <ul>
                    <li><%= link_to '編輯', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
                </li>

            <% else %>
                <li>
                <%= link_to "登入", new_user_session_path, :class => 'navbar-link'  %>
                </li>

                <li>
                <%= link_to "註冊", new_user_registration_path, :class => 'navbar-link'  %>
                </li>
            <% end %>
        </ul>
        </nav> 
        <!-- MAIN NAVIGATION END -->
    </div>
</div>     
<div class="header-bottom-wrap container hidden-xs">

    <div class="header-text">
        <h3 style="color: rgb( 255, 255, 255 )">讓我們一起享受Ｋ書的愉悅時光～</h3>
    </div>
    <% if !current_user %>
      <div class="header-bottom-elements">
          <div class="element-wrap">
              <%= link_to "加入我們享受高級Ｋ書服務", new_user_registration_path, :class => 'navbar-link btn'  %>
          </div>
      </div>
    <% end %>

</div>

<div class="header-line"></div> 
<!-- HEADER CONTAINER END -->
</header> <!-- HEADER END -->   
